body {
    background-color: #445567;
}

main {
    align-items: center;
    text-align: center;
    position: static;
}

button {
    color: #defbdc;
    background-color: #00b020;
    border-radius: 0.2em;
    border-width: 0;
    letter-spacing: 0.075em;
    font-weight: 600;
    font-family: GraphikWeb, -apple-system, BlinkMacSystemFont, "Segoe UI", "Hiragino Sans", Meiryo, sans-serif;
    padding-block: 1px;
    padding-inline: 6px;
    vertical-align: middle;
    cursor: pointer;
    font-size: 15pt;
}

button:hover {
    background-color: #318b2b;
}

button:active {
    background-color: #2b6c26;
}

.results {
    list-style: none;
    position: absolute;
    padding-left: 0px;
    margin-top: 0px;
    display: none;
    overflow: auto;
    height: 400px;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid #c8d8e8;
    border-top: 1px solid #FFF;
}

.results li {
    background-color: #677686;
    color: #e5e8ec;
    padding: 5px 1px;
    text-decoration: none;
    cursor: default;
    font-size: 15pt;
}

.results li:hover {
    background-color: #41a838;
}

.fa-star::before {
    font-size: 60px;
    color: #32404b;
}

.half::before {
    clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    color: #00b020;
}

.full::before {
    color: #00b020;
}

.select::before {
    color: #5db8ef;
}

.cont {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.temp::before {
    position: absolute;
    border-top: 0;
    z-index: -1;
    left: 0;
    top: 0;
}

.st1::before {left: 0px;}
.st2::before {left: 56px;}
.st3::before {left: 111px;}
.st4::before {left: 167px;}
.st5::before {left: 223px;}

.error {
    color: #cc3b2d;
    margin: 0;
    display: none;
    font-family: GraphikWeb, -apple-system, BlinkMacSystemFont, "Segoe UI", "Hiragino Sans", Meiryo, sans-serif;
    font-size: 15pt;
}

.image {
    display: none;
    margin: auto;
    margin-top: 10px;
    border-radius: clamp(2px, calc(100% * .02666667), 8px) / clamp(2px, calc(100% * calc(.02666667 * (2 / 3))), 8px);
}

.header {
    color: #fcfdff;
    font-family: TiemposTextWeb, Georgia, serif;
    font-size: 40pt;
    font-weight: bold;
    margin-bottom: 15px;
}

.regText {
    background-color: #ccdded;
    color: #91a1b1;
    border-radius: 0.2em;
    border-width: 0;
    font-family: GraphikWeb, -apple-system, BlinkMacSystemFont, "Segoe UI", "Hiragino Sans", Meiryo, sans-serif;
    font-size: 15pt;
}

.regText:focus {
    background-color: #fcfeff;
}

.review {
    width: 450px;
    height: 250px;
}

.movie {
    width: 250px;
    height: 40px;
}

.generate {
    height: 80px;
    width: 180px;
}

.reset {
    height: 50px;
    width: 100px;
}

.filled {
    color: #465464;
}

.pages {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.feedback {
    color: #fcfdff;
    font-family: TiemposTextWeb, Georgia, serif;
    font-size: 40pt;
    margin-bottom: 15px;
    max-width: 500px;
}

.back {
    height: 50px;
    width: 100px;
}

.graphics {
    position: fixed;
    top: 53px;
    left: 0px;
    z-index: 0;
}

.show {display:block;}